* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    cursor: default !important;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
}

.box {
    text-align: center;
}

.metr_yurish  {
    /* padding: 50px; */
   
}

.metr_yurish_person {
    height: 100px;
    width: 100px;
    transition: .3s linear;
}

.metr_yurish_person:hover {
    transform: scale(1.09);
    transform: rotate(15deg)
    rotateY(17deg)
    perspective(600px)
    scale(0.9);
  transform-origin: center center;
}

.metr_yurish button {
    border: none;
    outline: none;
    background: rgb(132, 231, 223);
    padding: 10px 27px;
    color: white;
    font-size: 18px;
    font-family: 600px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
    cursor: url(https://react-2-five-snowy.vercel.app/) !important;
}

.metr_yurish .metr_yurish_person, .btns {
    transition: .3s linear;
    
    

}

.metr_yurish:hover .metr_yurish_person, button {
    color: rgb(132, 231, 223);
    
}
.metr_yurish:hover .metr_yurish_person {
    color: rgb(132, 231, 223);
    transform: rotate(15deg)
    rotateY(17deg)
    perspective(600px)
    scale(0.9);
  transform-origin: center center;
    
}

.metr_yurish:disabled:hover button  .metr_yurish_person {
    background: rgb(137, 168, 164);
    
}

 .metr_yurish_person:disabled:hover, button{
    background: rgb(137, 168, 164);
    
}

.btn_1 {
    margin-left: 20px;
}

.btn_1:disabled {
    background: rgb(137, 168, 164);
}


.qadam_kattaligi {
    padding-top: 50px;
}

.qadam_kattaligi button {
    border: none;
    outline: none;
    background: rgb(132, 231, 223);
    padding: 10px 27px;
    color: white;
    font-size: 18px;
    font-family: 600px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
    border: 1px solid rgb(132, 231, 223);
}

.qadam_kattaligi button:hover {
    color: rgb(132, 231, 223);
    background: white;
    border: 1px solid rgb(132, 231, 223);
    transform: rotate(15deg)
    rotateY(17deg)
    perspective(600px)
    scale(0.9);
  transform-origin: center center;
    
}

.btn_2:disabled:hover {
    background: rgb(137, 168, 164);
    color: white;
}



.btn_2 {
    margin-left: 20px;
}

.btn_2:disabled {
    background: rgb(137, 168, 164);
}



.login {
    padding-top: 50px;
}

.login button {
    border: none;
    outline: none;
    background: rgb(132, 231, 223);
    padding: 10px 27px;
    color: white;
    font-size: 18px;
    font-family: 600px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
}

.login button:hover {
    color: rgb(132, 231, 223);
    background: white;
    border: 1px solid rgb(132, 231, 223);
  
}


.add_counter {
    text-align: center;
   
}

.btn_4 {
    background: green;
    padding: 6px 10px;
    border: none;
    outline: none;
    font-size: 30px;
    font-family: 700px;
}

.add_counter span {
    font-size: 30px;
    font-family: 600px;
}

.btn_5 {
    padding: 6px 13px;
    background: red;
    border: none;
    outline: none;
    font-size: 30px;
    font-family: 700px;
}

.btn_5:disabled {
    background: rgb(214, 115, 115);
}



.btn_6 {
    border: none;
    outline: none;
    background: rgb(132, 231, 223);
    color: white;
    padding: 7px 17px;
    font-size: 25px;
    font-family: 600px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid rgb(132, 231, 223);
}

.btn_6:hover {
    color: rgb(132, 231, 223);
    border: 1px solid rgb(132, 231, 223);
    background-color: white;
}


.add_counter_child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    margin-top: 30px;
}